* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

:root {
  --body-color: #e9c46a;
  --font-color-primary: #e76f51;
  --font-color-secondary: #ffffff;
  --main-color: #2a9d8f;
  --dark-color: #212529;
  --nevbar-color: #264653;
  --footer-color: #264653;

  /* Font Sizes */
  --font-size-extra-small: 0.8rem;
  --font-size-small: 1rem;
  --font-size-large: 1.5rem;
  --font-size-extra-large: 2rem;
  --font-size-double-xl: 3rem;
}

body {
  background-color: var(--body-color);
}

header {
  background-color: var(--nevbar-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  position: fixed;
  z-index: 1000;
  overflow: hidden;
}

header h1 {
  color: var(--font-color-primary);
  font-size: var(--font-size-extra-large);
}

.website-navbar {
  width: 50%;
}

.website-navbar ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.website-navbar ul li {
  list-style: none;
}

.website-navbar ul li a {
  text-decoration: none;
  color: var(--font-color-secondary);
}

.website-navbar ul li a:hover {
  color: var(--font-color-primary);
}

main {
  padding: 65px 0px 10px 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: hidden;
}

.content-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.about-section {
  width: 30%;
  border-radius: 10px;
  color: var(--font-color-secondary);
  background-color: var(--main-color);
  padding: 10px;
  overflow: hidden;
  margin: 10px;
}

.about-section h1 {
  font-size: var(--font-size-large);
  margin-bottom: 5px;
}

.about-section p {
  line-height: 20px;
  text-align: justify;
  text-justify: inter-word;
  font-size: var(--font-size-small);
}

.sidebar {
  width: 65%;
  margin: 10px;
  display: flex;
  position: relative;
}

.text-container {
  position: absolute;
  padding: 10px;
  color: var(--font-color-secondary);
}

.text-container h1 {
  font-size: var(--font-size-double-xl);
}

.video-container {
  width: 100%;
  border-radius: 10px;
}

.text-container p {
  overflow: hidden;
  border-right: 0.15em solid;
  white-space: nowrap;
  font-family: Poppins;
  font-size: var(--font-size-small);
  animation: typing 2.4s steps(40) infinite;
  color: var(--font-color-primary);
  font-weight: 800;
}

.text-container h1,
.text-container p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

main article {
  background-color: var(--main-color);
  padding: 10px;
  border-radius: 10px;
  color: var(--font-color-secondary);
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.8);
}

.engine-details {
  margin: 15px auto;
  max-width: 600px;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: var(--font-size-large);
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 10px;
  border: 2px solid var(--body-color);
}

td:first-child {
  font-weight: bold;
  width: 40%;
}

.profile-circle {
  width: 5%;
  position: fixed;
  left: 95%;
  bottom: 0;
  cursor: pointer;
}

.profile-circle img {
  width: 100%;
  border-radius: 50%;
}

/* Footer container */
.footer-container {
  background-color: var(--footer-color);
  color: var(--font-color-secondary);
  width: 100vw;
}

.footer-content {
  padding: 30px;
}

.footer-container section {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--font-color-secondary);
}

.footer-container section:first-child {
  line-height: 30px;
  text-align: justify;
}

.footer-container section h3 {
  margin-bottom: 20px;
  width: fit-content;
  font-size: var(--font-size-small);
  border-radius: 10px;
  color: var (--font-color-secondary);
  background-color: var(--font-color-primary);
  padding: 10px;
  overflow: hidden;
}

.footer-contact-section p {
  line-height: 30px;
}

.footer-follow-section {
  border: none !important;
  margin-bottom: none !important;
}

.footer-follow-section ul {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.footer-follow-section li {
  list-style: none;
}

.footer-follow-section a {
  text-decoration: none;
  font-size: 1.5rem;
  margin-right: 10px;
  color: var(--body-color);
}

.footer-follow-section a:hover {
  color: var(--font-color-primary);
}

.footer-bottom {
  background-color: var(--dark-color);
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}

/* Media queries for responsive design */

/* Extra small devices (phones, less than 600px) */
@media only screen and (max-width: 600px) {
  header h1 {
    font-size: var(--font-size-small);
  }

  .website-navbar ul li a {
    font-size: var(--font-size-extra-small);
  }

  .content-wrapper {
    flex-direction: column;
  }

  .about-section,
  .sidebar {
    width: 90%;
  }

  .about-section h1 {
    font-size: var(--font-size-small);
  }

  .about-section {
    font-size: var(--font-size-extra-small);
  }

  .text-container h1 {
    font-size: var(--font-size-large);
  }

  .text-container p {
    font-size: var(--font-size-extra-small);
  }

  .engine-details {
    width: 90%;
  }

  .engine-details h2 {
    font-size: var(--font-size-small);
  }

  .engine-details td,
  .engine-details th {
    font-size: var(--font-size-extra-small);
  }

  .footer-container section h3 {
    font-size: var(--font-size-small);
  }

  .footer-container section p {
    font-size: var(--font-size-extra-small);
  }

  .profile-circle {
    width: 10%;
    left: 90%;
  }

  .footer-content {
    padding: 10px;
  }

  .footer-bottom p {
    font-size: var(--font-size-extra-small);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  header h1 {
    font-size: var(--font-size-large);
  }

  .website-navbar ul {
    flex-direction: row;
    justify-content: space-around;
  }

  .website-navbar ul li a {
    font-size: var(--font-size-small);
  }

  .content-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .about-section,
  .sidebar {
    width: 45%;
  }

  .text-container h1 {
    font-size: var(--font-size-extra-large);
  }

  .engine-details {
    width: 80%;
  }

  .profile-circle {
    width: 8%;
    left: 92%;
  }

  .footer-content {
    padding: 20px;
  }

  .footer-follow-section ul {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  header h1 {
    font-size: var(--font-size-extra-large);
  }

  .website-navbar ul {
    flex-direction: row;
    justify-content: space-around;
  }

  .website-navbar ul li a {
    font-size: var(--font-size-large);
  }

  .content-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .about-section,
  .sidebar {
    width: 45%;
  }
  .text-container h1 {
    font-size: var(--font-size-double-xl);
  }

  .engine-details {
    width: 80%;
  }

  .profile-circle {
    width: 8%;
    left: 92%;
  }

  .footer-content {
    padding: 20px;
  }

  .footer-follow-section ul {
    flex-direction: row;
    justify-content: space-between;
  }
}
